/* font 설정 */

@font-face {
  font-family: 'SangSangShinb7';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KOTRA_GOTHIC';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HBIOS-SYS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSSaemaul-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* style */

body {
  /* opacity: 0.2; */
  background-color: #fff8ee;
  /* background-color: black; */
}

h1 {
  /* font-family: 'HBIOS-SYS'; */
  font-family: 'PyeongChangPeace-Bold';
  font-size: 5rem;
  /* font-weight: 700; */
  font-style: normal;
  /* color:white; */
}

h2 {
  /* font-family: 'HBIOS-SYS'; */
  font-family: 'PyeongChangPeace-Light';
  font-size: 3rem;
  /* font-weight: 700; */
  font-style: normal;
  /* color:white; */
}

p {
  font-family: 'KOTRAHOPE';
  /* font-family: 'KOTRAHOPE'; */
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
} 

/* .background {
  background-image: url('background/image1.png');
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-size: cover;
  z-index: -1;
} */

/* .btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
} */

/* .btn {
  font-family: 'PyeongChangPeace-Bold';
  --bs-btn-color: #F2889B;
  --bs-btn-bg: #F2889B;
  color: #FFFFFF;
  color-hover: #F2889B;
  background-color: #F2889B;
  border: #F2889B;
  } */