{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block content %}
<h1>detail</h1>

<div class="row row-cols-1 row-cols-lg-2 my-5 d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center">
      <img src="{% static 'dummy/movie1.jpg' %}" class="" alt="" style="height : 50rem;">
    </div>
    <div class="col">
      <div class = "my-3">
        {% include 'frontends/detail/_title.html' %}
        <p>등등 다른 정보들</p>
      </div>
      

    {% comment %} 댓글 {% endcomment %}
    {% for comment in comments %}
    <div>
      {{ comment.user }} - {{ comment.content }}
    </div>  
    
    {% if user.is_authenticated %}
    <form action="{% url 'community:create_comment' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
    {% endif %}
    <a href="{% url 'community:index' %}">[back]</a>

    </div>
  </div>
{% endblock content %}

{% block script %}
{% endblock script %}
