{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
  #moviesTitle{
    font-family: 'PyeongChangPeace-Bold';
    font-size: 3rem;
    font-style: normal;
    color:white;
    background-color:#f29e38;
  }

  .btn-return {
    --bs-btn-font-family:'KOTRAHOPE';
    --bs-btn-font-weight: 300;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-color: white;
    --bs-btn-bg: #F2889B;
    --bs-btn-border-color: #F2889B;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #e88092;
    --bs-btn-hover-border-color: #e88092;
    --bs-btn-focus-shadow-rgb: #F2889B;
    --bs-btn-active-color: #ededed;
    --bs-btn-active-bg: #d66d7f;
    --bs-btn-active-border-color: #d66d7f;
  }

</style>
{% endblock style %}


{% block content %}
<div class="row d-flex justify-content-end m-3">
  <button type="button" class="btn btn-primary btn-return col-auto" onclick="location.href='{% url 'choices:index' %}'">처음으로</button>
</div>

<div class="row mt-5 p-1">
  <div class="col-3 border-end">
    <div class="d-flex flex-column align-items-center text-center p-3 py-5 m-3">
      <img class="rounded-circle" style="width:12rem; height:12rem;" src="{% static 'image/profile.png' %}">
      <span class="font-weight-bold mt-3">{{ person.username }}</span>
      <span class="text-black-50">{{ person.email }}</span>
      
      <button class="btn btn-primary collapsed btn-return" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        고른 영화들
      </button>
      <button class="btn btn-primary collapsed btn-return" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        고른 영화들
      </button>
      <button class="btn btn-primary collapsed btn-return" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        고른 영화들
      </button>
      <button class="btn btn-primary collapsed btn-return" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        고른 영화들
      </button>
    </div>
  </div>
  <div class="col-9 p-1">
    <div class="rounded-4 bg-white mx-3 position-relative">
      <span id="moviesTitle" class="position-absolute top-0 start-50 translate-middle rounded-5 px-5">{{ person.username }}'s Good Movies</span>
      <div class="row p-5">
        <img src="{% static 'dummy/movie1.jpg' %}" class="d-block col-3 rounded-4 my-1" alt="...">
        <img src="{% static 'dummy/movie2.jpg' %}" class="d-block col-3 rounded-4 my-1" alt="...">
        <img src="{% static 'dummy/movie3.jpg' %}" class="d-block col-3 rounded-4 my-1" alt="...">
        <img src="{% static 'dummy/movie4.jpg' %}" class="d-block col-3 rounded-4 my-1" alt="...">
        <img src="{% static 'dummy/movie5.jpg' %}" class="d-block col-3 rounded-4 my-1" alt="...">
        <img src="{% static 'dummy/movie6.jpg' %}" class="d-block col-3 rounded-4 my-1" alt="...">
        <img src="{% static 'dummy/movie7.jpg' %}" class="d-block col-3 rounded-4 my-1" alt="...">
        <img src="{% static 'dummy/movie8.jpg' %}" class="d-block col-3 rounded-4 my-1" alt="...">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{% endblock script %}