<div class="card mt-3 p-0" style="width: 30rem;">
  <form action="">

    <div id="choice_card" class="card-header">
      ✔ 평가할 영화 개수를 선택하세요!
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pcs" id="pcs1" value="5" checked>
        <label id="choice_card" class="form-check-label d-flex justify-content-between" for="pcs1">
          <span class="">5개</span>
          <span id="card_text_time" class="">(예상 소요시간 : 5분 ~ 7분)</span>
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pcs" id="pcs2" value="10">
        <label id="choice_card" class="form-check-label d-flex justify-content-between" for="pcs2">
          <span class="">10개</span>
          <span id="card_text_time" class="">(예상 소요시간 : 10분 ~ 15분)</span>
        </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="pcs" id="pcs3" value="20">
          <label id="choice_card" class="form-check-label d-flex justify-content-between" for="pcs3">
            <span class="">20개</span>
            <span id="card_text_time" class="">(예상 소요시간 : 15분 ~ 20분)</span>
          </label>
        </div>
      </li>
    </ul>
    <div class="card-body">
      <div class="d-flex justify-content-end">
        <a href="{% url 'frontends:index' %}" class="btn btn-primary btn-bd-primary-return mx-1">처음으로</a>
        <a href="{% url 'frontends:trailer' %}" class="btn btn-primary btn-bd-primary mx-1">선택완료
        </a>
        <input class="btn btn-primary btn-bd-primary" type="submit" value="영화 개수 확인">
      </div>
    </div>
  </form> 
</div>