{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>

  a {
    text-decoration : none;
  }
  
  .btn-bd-primary {
    --bs-btn-font-family:'PyeongChangPeace-Bold';
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: #F2889B;
    --bs-btn-border-color: #F2889B;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #e88092;
    --bs-btn-hover-border-color: #e88092;
    --bs-btn-focus-shadow-rgb: #F2889B;
    --bs-btn-active-color: #ededed;
    --bs-btn-active-bg: #d66d7f;
    --bs-btn-active-border-color: #d66d7f;
  }
  
  #main {
    margin: 15% auto;
  }

</style>
{% endblock style %}
  

{% block content %}
  <div id="main" class="col row align-items-center">
    <h1 class="col-12 justify-content-center text-center my-5">
      🎬 영화 취향찾기 <img src="{% static 'favicon/android-chrome-512x512.png' %}" alt="{% static 'favicon/android-chrome-512x512.png' %}" class="col-1">
    </h1>
    <a href="{% url 'frontends:choice' %}" class="d-grid gap-2 col-2 mx-auto">
      <button type="button" class="btn btn-primary btn-bd-primary">START</button>
    </a>
  </div>
  
{% endblock content %}

{% block script %}
{% endblock script %}